@using Microsoft.AspNetCore.Identity

@inject SignInManager<MonitoriOnUser> SignInManager

<input class="settingsMenu-toggle" onclick="userdropdownToggle()" type="image" src="~/img/header/userHeader.svg" width="25px" height="25px" />
<ul id="userPanelDropdown" class="panel-dropdown">
    @if (SignInManager.IsSignedIn(User))
    {
         <li>
            <a asp-action="Index" asp-controller="Profile" title="Manage">Профиль</a>
        </li>
        <li>
            <a>Доставки</a>
        </li>
        <li>
            <a>Покупки</a>
        </li>
         <li>
            <form asp-action="LogOut" asp-controller="Profile">
                <button type="submit">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-action="Login" asp-controller="Account">Войти</a>
        </li>
        <li>
            <a asp-action="Register" asp-controller="Account">Регистрация</a>
        </li>
    }
</ul>
