@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<input class="settingsMenu-toggle" onclick="userdropdownToggle()" type="image" src="~/img/header/userHeader.svg" width="25px" height="25px" />
<ul id="userPanelDropdown" class="panel-dropdown">
    @if (SignInManager.IsSignedIn(User))
    {
         <li>
            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профиль</a>
        </li>
        <li>
            <a>Доставки</a>
        </li>
        <li>
            <a>Покупки</a>
        </li>
         <li>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">Выйти</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a id="login" asp-area="Identity" asp-page="/Account/Login">Войти</a>
        </li>
        <li>
            <a id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
    }
</ul>
