.adminSettings-main {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  justify-items: center;
  grid-column-gap: 20px;
}
.adminSettings-main-navBlock .nav {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  grid-row-gap: 40px;
}
.adminSettings-main-navBlock .nav-item-link {
  display: block;
  padding: 15px;
  font-size: 18px;
  color: #dddddd;
  background-color: transparent;
  border: 2px solid #dddddd;
}
.adminSettings-main-body {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: center;
  grid-row-gap: 40px;
}
.adminSettings-main-body .body-header {
  font-size: 28px;
  border-bottom: 1px solid white;
}
.adminSettings-main-body .adminSettings-form {
  width: 40%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-row-gap: 10px;
}
.adminSettings-main-body .adminSettings-form label {
  font-size: 18px;
}
.adminSettings-main-body .adminSettings-form input[type=email] {
  display: block;
  padding: 15px;
  font-size: 18px;
  color: #dddddd;
  background-color: transparent;
  border: 2px solid #dddddd;
}
.adminSettings-main-body .adminSettings-form span {
  font-size: 16px;
  color: #17a2b8;
}
.adminSettings-main-body .adminSettings-form input[type=submit] {
  margin-top: 20px;
}

.active {
  color: #afafaf !important;
  border-color: #afafaf !important;
}
