.login, .register {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-row-gap: 40px;
}
.login .login-enter, .login .register-enter, .register .login-enter, .register .register-enter {
  width: 20%;
}
.login .form-login, .login .form-register, .register .form-login, .register .form-register {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}
.login .form-login .validation ul, .login .form-register .validation ul, .register .form-login .validation ul, .register .form-register .validation ul {
  list-style-type: none;
}
.login .form-login .form-check-input, .login .form-register .form-check-input, .register .form-login .form-check-input, .register .form-register .form-check-input {
  margin-left: 10px;
}
.login .form-forgotPassword, .register .form-forgotPassword {
  justify-self: center;
  margin-top: 10px;
}
.login .form-forgotPassword a, .register .form-forgotPassword a {
  color: #bbbbbb;
}

.form-login label, .form-register label {
  font-size: 18px;
}
.form-login input:not(.form-check-input), .form-register input:not(.form-check-input) {
  width: 100%;
  display: inherit;
  background-color: transparent;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  color: white;
  border: 2px solid white;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.modal-dialog {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.modal-dialog .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  background-color: #171a1c;
  padding: 30px;
  border-radius: 2%;
  max-width: 800px;
  position: relative;
}
.modal-dialog .modal-content-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}
.modal-dialog .modal-content-header h2 {
  font-size: 26px;
  justify-self: center;
}
.modal-dialog .modal-content-header p span {
  border-bottom: 1px solid #dd0000;
}
.modal-dialog .modal-content-header .btn-modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  display: grid;
}
.modal-dialog .modal-content-header .btn-modal-close img {
  width: 32px;
  height: 32px;
}
.modal-dialog .modal-content-body form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
}
.modal-dialog .modal-content-body form .textBlock {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.modal-dialog .modal-content-body form .textBlock input {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #dddddd;
  background-color: transparent;
  border: 2px solid #dddddd;
}
.modal-dialog .modal-content-body form .textBlock span {
  color: #990000;
}
.modal-dialog .modal-content-body form .model-error {
  color: #990000;
}
.modal-dialog .modal-content-body form .model-error ul {
  list-style-type: none;
}
.modal-dialog .modal-content-body form .btnBlock {
  justify-self: center;
}
.modal-dialog .modal-content-expand {
  padding: 30px 80px;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.text-danger {
  color: red;
}
