.cart-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #151515;
  padding: 20px 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cart-header h2 {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 1.5px;
}
.cart-header .continueShopping {
  justify-self: end;
  font-size: 24px;
  font-weight: 800;
}
.cart-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  padding: 40px 40px;
}
.cart-body .selectAll {
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.cart-body .selectAll input {
  width: 18px;
  height: 18px;
}
.cart-body .selectAll p {
  font-size: 22px;
}
.cart-body .cart-items-body {
  padding-bottom: 20px;
}
.cart-body .cart-items-body .cart-item {
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-bottom: 20px;
}
.cart-body .cart-items-body .cart-item-needToBuy input {
  width: 18px;
  height: 18px;
}
.cart-body .cart-items-body .cart-item-img {
  width: 128px;
  height: 128px;
}
.cart-body .cart-items-body .cart-item-img img {
  width: 100%;
}
.cart-body .cart-items-body .cart-item-title {
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.cart-body .cart-items-body .cart-item-title h4 {
  font-size: 24px;
}
.cart-body .cart-items-body .cart-item-price {
  font-size: 18px;
}
.cart-body .cart-items-body .cart-item-delete {
  font-size: 18px;
}
.cart-body .cart-items-body .cart-item:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}
.cart-body .cart-items-body .cart-item:not(:first-child) {
  margin-top: 20px;
}
.cart-body .cart-empty {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
.cart-body .cart-empty h3 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
}
.cart-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #151515;
  padding: 20px 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cart-footer p {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.5px;
}
.cart-footer .orderLink {
  justify-self: end;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.modal-dialog {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.modal-dialog .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  background-color: #171a1c;
  padding: 30px;
  border-radius: 2%;
  max-width: 800px;
  position: relative;
}
.modal-dialog .modal-content-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}
.modal-dialog .modal-content-header h2 {
  font-size: 26px;
  justify-self: center;
}
.modal-dialog .modal-content-header p span {
  border-bottom: 1px solid #dd0000;
}
.modal-dialog .modal-content-header .btn-modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  display: grid;
}
.modal-dialog .modal-content-header .btn-modal-close img {
  width: 32px;
  height: 32px;
}
.modal-dialog .modal-content-body {
  display: grid;
}
.modal-dialog .modal-content-body .delivery {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.modal-dialog .modal-content-body .delivery .deliveryMethod {
  display: flex;
  align-items: center;
  gap: 5px;
}
.modal-dialog .modal-content-body .account {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.modal-dialog .modal-content-body .formBlock-inputBlock {
  display: flex;
  flex-direction: column;
}
.modal-dialog .modal-content-body .btnBlock {
  display: flex;
  justify-content: center;
}
.modal-dialog .modal-content-body .btnBlock button {
  margin-top: 30px;
}
.modal-dialog .modal-content-body input[type=text], .modal-dialog .modal-content-body input[type=number], .modal-dialog .modal-content-body select, .modal-dialog .modal-content-body input[type=file], .modal-dialog .modal-content-body input[type=date] {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  color: white;
}
.modal-dialog .modal-content-body input[type=data]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.modal-dialog .modal-content-body input::-webkit-outer-spin-button,
.modal-dialog .modal-content-body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.modal-dialog .modal-content-body input[type=number] {
  -moz-appearance: textfield;
}
.modal-dialog .modal-content-body input, .modal-dialog .modal-content-body select {
  background-color: transparent;
  display: inherit;
  width: 100%;
  border: 2px solid white;
}
.modal-dialog .modal-content-body option {
  color: black;
}
.modal-dialog .modal-content-expand {
  padding: 30px 80px;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.hide {
  display: none !important;
}
