@font-face {
  font-family: "Bicubik";
  src: url("../fonts/Bicubik/Bicubik.woff2") format("woff2"), url("../fonts/Bicubik/Bicubik.woff") format("woff"), url("../fonts/Bicubik/Bicubik.svg#Bicubik") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rounds";
  src: url("../fonts/Rounds/RoundsBlack.woff2") format("woff2"), url("../fonts/Rounds/RoundsBlack.woff") format("woff"), url("../fonts/Rounds/RoundsBlack.svg#RoundsBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Days Sans";
  src: url("../fonts/DaysSans/DaysSansBlack.woff2") format("woff2"), url("../fonts/DaysSans/DaysSansBlack.woff") format("woff"), url("../fonts/DaysSans/DaysSansBlack.svg#DaysSansBlack") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  color: white;
  font-family: open sans, sans-serif;
}

a {
  text-decoration: none;
  color: #dfdfdf;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  background-color: #293133;
  flex-grow: 3;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #dfdfdf;
}

.header {
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #171a1c;
}
.header-row {
  display: grid;
  align-items: center;
  padding: 10px 0;
}
.header-row .logo-container-logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header-row .logo-container-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.header-row .logo-container-logo span {
  color: white;
  font-family: "Days Sans", sans-serif;
  font-size: 32px;
}
.header-row-rightSide {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.header-row-rightSide-adminPanel {
  justify-self: end;
}
.header-row-rightSide-userPanel {
  justify-self: center;
}
.header-row-rightSide .panel-dropdown {
  display: none;
  position: absolute;
  margin-top: 8px;
  padding: 8px 0;
  float: none;
  background: rgba(23, 26, 28, 0.8);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  min-width: 8rem;
  z-index: 1;
}
.header-row-rightSide .panel-dropdown li {
  text-align: left;
  padding: 0px 10px 10px 10px;
}
.header-row-rightSide .panel-dropdown li a {
  color: #dfdfdf;
}
.header-row-rightSide-cartPanel {
  justify-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
  align-items: center;
}
.header-row-rightSide-cartPanel .red-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

.footer {
  position: static !important;
  background-color: #171a1c;
}

.show {
  display: block !important;
}

.btn-default {
  cursor: pointer;
  background-color: transparent;
  padding: 10px 40px;
  border: 1px solid white;
  font-size: 18px;
  color: #dfdfdf;
}

.btn-danger {
  cursor: pointer;
  background-color: transparent;
  padding: 10px 40px;
  border: 1px solid #990000;
  font-size: 18px;
  color: #990000;
}
