@model MonitoriOn.Models.ViewModels.UserVM

@{
    string? className;
    if (TempData["ForgotPasswordModal"]?.ToString() == "true")
    {
        className = "open";
    }
    else
    {
        className = null;
    }
}

<div class="modal @className" onclick="closeModalDark()">
    <div class="modal-dialog">
        <div class="modal-content modal-content-expand">
            <div class="modal-content-header">
                <h2>Востановление пароля</h2>
                <button class="btn-modal-close" onclick="closeModalBtn()">
                    <img src="~/img/profile/modal/close.svg" />
                </button>
            </div>
            <div class="modal-content-body">
                <form asp-page-handler="ForgotPassword">
                    <div class="textBlock">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" autocomplete="off" placeholder="Введите почту" />
                        <span asp-validation-for="Email"></span>
                        <span class="span-validation">@TempData["IncorrectEmail"]</span>

                    </div>

                    <div class="btnBlock">
                        <button class="btn-success">Восстановить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>