@model MonitoriOn.Models.ViewModels.ResetPasswordVM

@{
    string? className;
    if (TempData["ResetPasswordModal"]?.ToString() == "true")
    {
        className = "open";
    }
    else
    {
        className = null;
    }

    Model.Code.Replace(Model.Code, TempData["ResetPasswordCode"]?.ToString());
}

<div class="modal @className" onclick="closeModalDark()">
    <div class="modal-dialog">
        <div class="modal-content modal-content-expand">
            <div class="modal-content-header">
                <h2>Сброс пароля</h2>
                <button class="btn-modal-close" onclick="closeModalBtn()">
                    <img src="~/img/profile/modal/close.svg" />
                </button>
            </div>
            <div class="modal-content-body">
                <form asp-page-handler="ResetPassword">
                    <input asp-for="Code" type="hidden" />

                    <div class="textBlock">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" autocomplete="off" placeholder="Введите почту" />
                        <span asp-validation-for="Email"></span>
                    </div>

                    <div class="textBlock">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" autocomplete="off" placeholder="Введите почту" />
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="textBlock">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" autocomplete="off" placeholder="Введите почту" />
                        <span asp-validation-for="ConfirmPassword"></span>
                        <span class="span-validation">@TempData["ResetPasswordError"]</span>
                    </div>

                    <div class="btnBlock">
                        <button asp-action="ResetPassword" asp-controller="Account" class="btn-success">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>