@using MonitoriOn.Models.ViewModels;
@model MonitoriOn.Models.ViewModels.LoginUserVM

@{
    ViewData["Title"] = "Авторизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head_Link
{
    <link rel="stylesheet" href="~/css/Authentication.min.css" />
}

<div id="modal-placeholder">
    @if (TempData["ForgotPasswordModal"]?.ToString() == "true")
    {
        <partial name="_ForgotPassword" model="new UserVM()" />
    }
    @if (TempData["ResetPasswordModal"]?.ToString() == "true")
    {
        <partial name="_ResetPassword" model='new ResetPasswordVM(){ Code = TempData["ResetPasswordCode"]!.ToString()!}' />
    }
</div>

<div class="login">
    <h1>@ViewData["Title"]</h1>

    <div class="login-enter">
        <section>
            <form id="account" class="form-login" method="post">

                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" autocomplete="off" placeholder="Введите почту" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password" autocomplete="off" placeholder="Введите пароль" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div>
                    <div>
                        <label asp-for="RememberMe">
                            @Html.DisplayNameFor(m => m.RememberMe)
                            <input class="form-check-input" asp-for="RememberMe" />
                        </label>
                    </div>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger validation"></div>

                <button type="submit" class="btn-success">Войти</button>

                <div class="form-forgotPassword">
                    <a data-toggle="ajax-modal" asp-action="ForgotPassword" asp-controller="Account">Забыли пароль?</a>
                </div>

            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            var placeholderElement = $('#modal-placeholder');

            $.ajaxSetup({ cache: false });

            $('a[data-toggle="ajax-modal"]').click(function (e) {

                e.preventDefault();

                $.get(this.href, function (data) {
                    console.log(this.href);
                    placeholderElement.html(data);
                    placeholderElement.find('.modal').addClass('open');
                });
            });

        })

        function closeModalBtn() {
            $('.modal').removeClass('open');
            $('#modal-placeholder').empty();
        }

        function closeModalDark() {
            if (!event.target.closest('.modal-content')) {
                $('.modal').removeClass('open');
                $('#modal-placeholder').empty();
            }
        }


    </script>
}


