@model MonitoriOn.Models.Brand

@{
    ViewData["Title"] = "Удаление Бренда";
}

@section head_Link
{
    <link rel="stylesheet" href="~/css/Categories.min.css" />
}

<form class="form" method="post">
    <input asp-for="Id" hidden />
    <div class="form-header">
        <h2>Удаление Бренда</h2>
    </div>
    <div class="form-body form-body-categories" id="Brands">
        <div class="form-body-block" style="display: grid;">
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="Name"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="Name" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="ShortDescription"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="ShortDescription" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="Director"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="Director" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="MainAccountant"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="MainAccountant" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="Address"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="Address" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group" style="align-self: end;">
                <div class="form-body-group-buttons-container">
                    <div class="form-body-group-buttons">
                        <input class="form-body-group-buttons-button btn-danger" type="submit" value="Удалить" />
                    </div>
                    <div class="form-body-group-buttons">
                        <a class="form-body-group-buttons-button btn-default" asp-action="Index">Назад</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-body-block">
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="BankDetail.Recipient"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="BankDetail.Recipient" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="BankDetail.BankAccount"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="BankDetail.BankAccount" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="BankDetail.BankName"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="BankDetail.BankName" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="BankDetail.INN"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="BankDetail.INN" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="BankDetail.BankBIC"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="BankDetail.BankBIC" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="BankDetail.CorrespondentAccount"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="BankDetail.CorrespondentAccount" autocomplete="off" disabled />
                </div>
            </div>
            <div class="form-body-group">
                <div class="form-body-group-label">
                    <label asp-for="BankDetail.BankAddress"></label>
                </div>
                <div class="form-body-group-main">
                    <input asp-for="BankDetail.BankAddress" autocomplete="off" disabled />
                </div>
            </div>
        </div>
    </div>
</form>