@model MonitoriOn.Models.ViewModels.ChangePasswordVM

@{
    string? className;
    if (TempData["ChangePassword"]?.ToString() == "true")
    {
        className = "open";
    }
    else
    {
        className = null;
    }
}

<div class="modal @className" onclick="closeModalDark()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-content-header">
                <h2>Изменение пароля</h2>
                <p>Для входа в учетную запись нужно будет использовать новый пароль.</p>
                <button class="btn-modal-close" onclick="closeModalBtn()">
                    <img src="~/img/profile/modal/close.svg" />
                </button>
            </div>
            <div class="modal-content-body">
                <form asp-page-handler="ChangePassword">

                   <div class="textBlock">
                        <label asp-for="OldPassword"></label>
                        <input asp-for="OldPassword" autocomplete="off" placeholder="Введите текущий пароль" />
                        <span asp-validation-for="OldPassword"></span>
                        <span class="span-validation">@TempData["ChangePassowrdIncorrect"]</span>
                    </div>

                   <div class="textBlock">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" autocomplete="off" placeholder="Введите новый пароль" />
                        <span asp-validation-for="NewPassword"></span>

                    </div>

                    <div class="textBlock">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" autocomplete="off" placeholder="Повторите новый пароль" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <div class="btnBlock">
                        <button class="btn-success">Сменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>