@using MonitoriOn.Views.AdminSettings;

@{
    ViewData["AdminSettingsActivePage"] = AdminSettingsNavPages.Index;
    Layout = "~/Views/AdminSettings/_Layout.cshtml";
}


<div class="adminSettings">
    <h2>Выберие пункт из возможныха</h2>
</div>
