.cart {
    &-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        background-color: #151515;
        padding: 20px 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;


        h2 {
            font-size: 34px;
            font-weight: 800;
            letter-spacing: 1.5px;
        }

        .continueShopping {
            justify-self: end;
            font-size: 24px;
            font-weight: 800;
        }
    }

    &-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        padding: 40px 40px;

        .selectAll {
            display: grid;
            grid-template-columns: 0.2fr 0.6fr 2fr 1fr 1fr;
            align-items: center;
            justify-items: center;

            input {
                width: 18px;
                height: 18px;
            }

            p {
                font-size: 22px;
            }
        }

        .cart-items {
            &-body {
                padding-bottom: 20px;

                .cart-item {
                    display: grid;
                    grid-template-columns: 0.2fr 0.6fr 2fr 1fr 1fr;
                    align-items: center;
                    justify-items: center;
                    padding-bottom: 20px;

                    &-needToBuy {
                        input {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    &-img {
                        width: 128px;
                        height: 128px;

                        img {
                            width: 100%;
                        }
                    }

                    &-title {
                        justify-self: start;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-row-gap: 10px;

                        h4 {
                            font-size: 24px;
                        }
                    }

                    &-price {
                        font-size: 18px;
                    }

                    &-delete {
                        font-size: 18px;
                    }
                }

                .cart-item:not(:last-child) {
                    border-bottom: 1px solid #ffffff;
                }

                .cart-item:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
        .cart-empty {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 30px;

            h3 {
                font-size: 24px;
                font-weight: 800;
                letter-spacing: 1.2px;
            }
        }
    }

    &-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        background-color: #151515;
        padding: 20px 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        p {
            font-size: 24px;
            font-weight: 800;
            letter-spacing: 1.5px;
        }

        .orderLink {
            justify-self: end;
            font-size: 24px;
            font-weight: 800;
            letter-spacing: 1.5px;
        }
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &-dialog {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

        .modal-content {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            background-color: #171a1c;
            padding: 30px;
            border-radius: 2%;
            max-width: 800px;
            position: relative;

            &-header {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: 20px;

                h2 {
                    font-size: 26px;
                    justify-self: center;
                }

                p {
                    span {
                        border-bottom: 1px solid #dd0000;
                    }
                }

                .btn-modal-close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: transparent;
                    border: none;
                    display: grid;

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            &-body {
                display: grid;

                .delivery {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 20px;

                    .deliveryMethod{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }

                .account {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-top: 20px;
                }

                .formBlock-inputBlock {
                    display: flex;
                    flex-direction: column;
                }

                .btnBlock {
                    display: flex;
                    justify-content: center;

                    button {
                        margin-top: 30px;
                    }
                }

                input[type=text], input[type=number], select, input[type=file], input[type=date] {
                    padding: 10px;
                    margin: 10px 0;
                    font-size: 16px;
                    color: white;
                }

                input[type=data]::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                input[type='number'] {
                    -moz-appearance: textfield;
                }

                input, select {
                    background-color: transparent;
                    display: inherit;
                    width: 100%;
                    border: 2px solid white;
                }

                option {
                    color: black;
                }
            }
        }

        .modal-content-expand {
            padding: 30px 80px;
        }
    }
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.hide{
    display: none !important;
}
