.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &-dialog {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

        .modal-content {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            background-color: #171a1c;
            padding: 30px;
            border-radius: 2%;
            max-width: 800px;
            position: relative;

            &-header {
                display: grid;
                grid-template-columns: 1fr;
                grid-row-gap: 20px;

                h2 {
                    font-size: 26px;
                    justify-self: center;
                }

                p {
                    span {
                        border-bottom: 1px solid #dd0000;
                    }
                }

                .btn-modal-close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    background-color: transparent;
                    border: none;
                    display: grid;

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            &-body {
                form {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-row-gap: 40px;

                    .textBlock {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-row-gap: 10px;

                        input {
                            display: block;
                            padding: 10px;
                            font-size: 16px;
                            color: #dddddd;
                            background-color: transparent;
                            border: 2px solid #dddddd;
                        }

                        span {
                            color: #990000;
                        }
                    }

                    .model-error {
                        color: #990000;

                        ul {
                            list-style-type: none;
                        }
                    }

                    .btnBlock {
                        justify-self: center;
                    }
                }
            }
        }

        .modal-content-expand {
            padding: 30px 80px;
        }
    }
}

.modal.open {
    opacity: 1;
    visibility: visible;
}


.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 40px;

    &-title {
        display: grid;
        justify-items: start;
    }

    &-create {
        display: grid;
        justify-items: center;
        grid-column: 3/4;
    }
}

.header-monitor {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;

    .main-header-create {
        justify-self: center;
        text-align: center;
        grid-column: 3/4;
    }
}

.main-footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 40px;
    a{
        grid-column: 3/4;
        justify-self: center;
    }
}

.footer-monitor {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.main-body {
    &-element {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #ffffff;

        &-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            grid-gap: 20px;

            a:first-child {
                justify-self: end;
            }

            a:last-child {
                justify-self: start;
            }
        }
    }

    &-element:not(:first-child), &-element-monitor:not(:first-child) {
        margin-top: 40px;
    }

    &-element-monitor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #ffffff;
        grid-gap: 10px;

        &-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            grid-gap: 20px;

            a:first-child {
                justify-self: end;
            }

            a:last-child {
                justify-self: start;
            }
        }
    }
}

#Brands{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr !important;
    grid-column-gap: 20% !important;
    align-items: end;
}

#SupplyDogovors {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr !important;
    grid-column-gap: 20% !important;
    align-items: start;
}

#BrandListHeader {
    grid-template-columns: 1fr 3fr 1fr !important;
}

#BrandListBody {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
}

#BrandListFooter {
    grid-template-columns: 1fr 3fr 1fr !important;
}

#SupplyDogovorsHeader {
    grid-template-columns: 3fr 6fr 2fr !important;
}

#SupplyDogovor {
    grid-template-columns: 0.3fr 0.5fr 1fr 0.5fr 0.5fr 1fr 0.5fr 1fr 1fr 1fr !important;
}

#SupplyDogovorsFooter {
    grid-template-columns: 3fr 6fr 2fr !important;
}

#supplyDogovorPaid {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
}

#SupplyDogovorConcluded {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
}

#SupplyDogovorConcludedHeader {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
}

#MonitorsSold {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
}
#MonitorsSoldHeader {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
}

#Account {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
}

.form {
    &-header {
        margin-bottom: 40px;
    }

    &-body-monitor {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 160px;
        align-items: center;
    }

    &-body-categories {
        display: grid;
        grid-template-columns: 0.3fr;
        align-items: center;
    }

    &-body {

        &-img {
            align-self: start;

            img {
                padding: 20px;
                border: 1px solid #ffffff;
                width: 40%;
            }
        }

        &-group:not(:last-child) {
            margin-bottom: 20px;
        }

        &-group:last-child {
            margin-top: 40px;
        }

        &-group {
            &-label {
                margin-bottom: 5px;
            }

            &-main {
                input[type=text], input[type=number], select, input[type=file], input[type=date] {
                    padding: 10px;
                    margin: 10px 0;
                    font-size: 16px;
                    color: white;
                }

                input[type=data]::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                input[type='number'] {
                    -moz-appearance: textfield;
                }

                input, select {
                    background-color: transparent;
                    display: inherit;
                    width: 100%;
                    border: 2px solid white;
                }

                option {
                    color: black;
                }

                span {
                    color: #bf0000
                }
            }

            &-buttons-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }

            &-buttons {
                &-button {
                    height: 42px;
                }
            }

            &-buttons:last-child {
                justify-self: end;
            }
        }
    }
}

.filter-form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .filter-body {
        display: flex;
        gap: 20px;
        align-items: end;

        .filter-item {
            input[type=text], input[type=number], select, input[type=file], input[type=date] {
                padding: 10px;
                margin: 10px 0;
                font-size: 16px;
                color: white;
            }

            input[type=data]::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            input[type='number'] {
                -moz-appearance: textfield;
            }

            input, select {
                background-color: transparent;
                display: inherit;
                width: 100%;
                border: 1px solid white;
            }
        }

        .filter-submit{
            margin: 10px 0;
        }
    }
}

